@(invitee: Invitee, leaders: List[Leader])

<script>
  $(document).ready(function() {
	$("#gid").val(@invitee.gid);
    $("#ceremony").val(@invitee.ceremony);
    $("#reception").val(@invitee.reception);
    $("#meal").val(@invitee.meal);
  });
</script>
<h3>Edit Invitee</h3>
<input type="hidden" id="id" value="@invitee.id">
<label>Name:</label>
<input type="text" id="name" value="@invitee.name">
<br/>
<label>Group:</label>
<select id="gid">
  <option value="@invitee.id">-- Own Group --</option>
  @leaders.map { entry =>
    @if(entry.id != invitee.id) {
      <option value="@entry.id">@entry.name</option>
    }
  }
</select>
<br/>
<label>Ceremony:</label>
<select id="ceremony">
  <option value="0">-- Not Invited --</option>
  <option value="1">Invited</option>
  <option value="2">Declined</option>
  <option value="3">Going</option>
</select>
<br/>
<label>Reception:</label>
<select id="reception">
  <option value="0">-- Not Invited --</option>
  <option value="1">Invited</option>
  <option value="2">Declined</option>
  <option value="3">Going</option>
</select>
<br/>
<label>Table Number:</label>
<input type="text" id="tnum" value="@invitee.tnum">
<br/>
<label>Meal Preference:</label>
<select id="meal">
  <option value="0">-- Not Selected --</option>
  <option value="1">Filet Mignon</option>
  <option value="2">Salmon</option>
  <option value="3">Vegetarian</option>
  <option value="4">Kids Meal</option>
</select>
<br/>
<label></label>
<input type="button" id="edit" value="Submit">
<input type="button" id="cancel" value="Cancel">
