@(invitees: List[InviteeDisplay], leaders: List[Leader])

<!DOCTYPE html>

<html>
  <head>
    <title>Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script>
      $(document).ready(function() {
    	  function list() {
            $.ajax({
              type    :   'GET',
              datatype:   'html',
              url     :   '/invitee/list',
              data    :   data,    
              success :   function(d) {
                $("#list").html(d);
              }
            });
        }
      });
    </script>
  </head>
  <body>
    <div id="info">
      @add(leaders)
    </div>
    <hr/>
    <div id="list">
      @list(invitees)
    </div>
  </body>
</html>
