@()

<!DOCTYPE html>

<html>
    <head>
        <title>Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ui/jquery-ui-1.10.2.custom.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ui.jqgrid.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jqgrid/i18n/grid.locale-en.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jqgrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script>
        $(document).ready(function() {
          jQuery("#table").jqGrid({
              url:'/invitee/list',
              datatype: "json",
              colNames:['Party Name', 'Invitee English Name','Invitee Chinese Name', 'Relationship', 'Gender', 'Invited By', 'Invited #', 'Invited To', 'RSVP', 'Going #', 'Table #', 'Meal Preference', 'Gift Item', 'Gift Value'],
              colModel:[
                  {name:'partyName',index:'partyName', width:100, editable:true},
                  {name:'englishName',index:'englishName', width:100, editable:true},
                  {name:'chineseName',index:'chineseName', width:100, editable:true},
                  {name:'relationship',index:'relationship', width:100, editable:true, edittype:"select", editoptions:{value:"0:Owner;1:Parent;2:Family;3:Relative;4:Helper;5:Church;6:Friend"}},
                  {name:'gender',index:'gender', width:100, editable:true, edittype:"select", editoptions:{value:"M:Male;F:Female"}},
                  {name:'invitedBy',index:'invitedBy', width:100, editable:true, edittype:"select", editoptions:{value:"Both:Both;Kayan:Kayan;Keith:Keith"}},
                  {name:'invitedNum',index:'invitedNum', width:100, align:"right", sorttype:"int", editable:true, editoptions:{defaultValue:"1"}},
                  {name:'invitedTo',index:'invitedTo', width:100, editable:true, edittype:"select", editoptions:{value:"Both:Both;Ceremony:Ceremony;Banquet:Banquet"}},
                  {name:'status',index:'status', width:100, editable:true, edittype:"select", editoptions:{value:"Not Yet:Not Yet;Accepted:Accepted;Declined:Declined"}},
                  {name:'goingNum',index:'goingNum', width:100, align:"right", sorttype:"int", editable:true, editoptions:{defaultValue:"0"}},
                  {name:'tableNum',index:'tableNum', width:100, align:"right", sorttype:"int", editable:true, editoptions:{defaultValue:"0"}},
                  {name:'mealPref',index:'mealPref', width:100, editable:true, edittype:"select", editoptions:{value:"Not Selected:Not Selected"}},
                  {name:'giftItem',index:'giftItem', width:100, editable:true},
                  {name:'giftValue',index:'giftValue', width:100, align:"right", sorttype:"float", editable:true, editoptions:{defaultValue:"0"}}
              ],
              rowNum:100,
              pager: '#pager',
              sortname: 'englishName',
              viewrecords: true,
              sortorder: "asc",
              width: 1200,
              height: "100%",
              caption: "Invitations",
              editurl: "/invitee/action"/*,
              grouping:true,
              groupingView : {
                  groupField : ['partyName'],
                  groupText : ['<b>{0}</b>'],
                  groupDataSorted : true,
                  groupCollapse : false
              },*/
          });
          jQuery("#table").jqGrid('navGrid','#pager',
              {del:false}, //options
              {closeAfterEdit:true}, // edit options
              {closeAfterAdd:true}, // add options
              {}, // del options
              {} // search options
          );
          //jQuery("#table").jqGrid('inlineNav',"#pager");
          
          $.ajax({
              type    :   'GET',
              datatype:   'json',
              url     :   '/invitee/total',
              success :   function(d) {
            	  var html = "";
            	  $.each(d, function(k, v) {
            		  html += "<span style='width:100px;'><b>" + k + "</b></span> : " + v + "<br/>";
            	  });
            	  $("#info").html(html);
              }
          });
        });

        </script>
    </head>
    <body>
        <div id="info">
        </div>
        <hr/>
        <table id="table"></table>
        <div id="pager"></div>
    </body>
</html>
